<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PeriodoEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57433/Abaseguros.Finanzas.SIAC.Host/PeriodoServiceReference.svc"
                binding="basicHttpBinding" bindingConfiguration="PeriodoEndpoint"
                contract="PeriodoServiceContract" name="PeriodoEndpoint" />
        </client>
    </system.serviceModel>
</configuration>