<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <!--<behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.ValidacionContableService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>-->
                <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PosValidacionService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <!--<behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.DashboardPosvalidacionService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.TipoDeCambioService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.CierreDiarioService_Behavior">
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>-->
            </serviceBehaviors>
        </behaviors>
        <services>
            <!--<service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.ValidacionContableService_Behavior"
                name="Abaseguros.Finanzas.SIAC.ServiceImplementation.ValidacionContableService">
                <endpoint address="" binding="basicHttpBinding" name="ValidacionContableEndpoint"
                    bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IValidacionContableServiceContract" />
            </service>-->
            <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.PosValidacionService_Behavior"
                name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PosValidacionService">
                <endpoint address="" binding="basicHttpBinding" name="PosvalidacionEndpoint"
                    bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IPosValidacionServiceContract" />
            </service>
            <!--<service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.DashboardPosvalidacionService_Behavior"
                name="Abaseguros.Finanzas.SIAC.ServiceImplementation.DashboardPosvalidacionService">
                <endpoint address="" binding="basicHttpBinding" name="DashboardPosvalidacionEndpoint"
                    bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IDashboardPosvalidacionServiceContract" />
            </service>
            <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.TipoDeCambioService_Behavior"
                name="Abaseguros.Finanzas.SIAC.ServiceImplementation.TipoDeCambioService">
                <endpoint address="" binding="basicHttpBinding" name="TipoDeCambioEndpoint"
                    bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.ITipoDeCambioServiceContract" />
            </service>-->
            <!--<service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.CierreDiarioService_Behavior"
                name="Abaseguros.Finanzas.SIAC.ServiceImplementation.CierreDiarioService">
                <endpoint address="" binding="basicHttpBinding" name="CierreDiarioEndpoint"
                    bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.ICierreDiarioServiceContract" />
            </service>-->
        </services>
    </system.serviceModel>
</configuration>