<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.ReportesOperativosService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.ReportesOperativosService">
        <endpoint address="" binding="basicHttpBinding" name="ReportesOperativosEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IReportesOperativosServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.PreValidacionService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PreValidacionService">
        <endpoint address="" binding="basicHttpBinding" name="PreValidacionEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IPreValidacionServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.MonitoreoPSService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.MonitoreoPSService">
        <endpoint address="" binding="basicHttpBinding" name="MonitoreoPSEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IMonitoreoPSServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.PosValidacionService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PosValidacionService">
        <endpoint address="" binding="basicHttpBinding" name="PosValidacionEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IPosValidacionServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.ValidacionesSiacService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.ValidacionesSiacService">
        <endpoint address="" binding="basicHttpBinding" name="ValidacionSiacEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IValidacionesSiacServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.MonitoreoPCWService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.MonitoreoPCWService">
        <endpoint address="" binding="basicHttpBinding" name="MonitoreoPCWEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IMonitoreoPCWServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.CatalogosGeneralesService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.CatalogosGeneralesService">
        <endpoint address="" binding="basicHttpBinding" name="CatalogosGeneralesEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.ICatalogosGeneralesServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.PeriodoService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PeriodoService">
        <endpoint address="" binding="basicHttpBinding" name="PeriodoEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.IPeriodoServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Abaseguros.Finanzas.SIAC.ServiceImplementation.TipoCambioService_Behavior"
        name="Abaseguros.Finanzas.SIAC.ServiceImplementation.TipoCambioService">
        <endpoint address="" binding="basicHttpBinding" name="TipoCambioEndpoint"
          bindingNamespace="http://abaseguros.com" contract="Abaseguros.Finanzas.SIAC.ServiceContracts.ITipoCambioServiceContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.ReportesOperativosService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PreValidacionService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.MonitoreoPSService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PosValidacionService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.ValidacionesSiacService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.MonitoreoPCWService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.CatalogosGeneralesService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.PeriodoService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="Abaseguros.Finanzas.SIAC.ServiceImplementation.TipoCambioService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="Abaseguros.Finanzas.SIAC.DataAccess.Properties.Settings.SIACConnectionString"
        connectionString="Data Source=172.25.106.89;Initial Catalog=SIAC;Persist Security Info=True;User ID=dtsmgr;Password=password"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>