<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Abaseguros.Finanzas.SIAC.DataAccess.Properties.Settings.SIACConnectionString"
            connectionString="Data Source=172.25.104.80,54707;Initial Catalog=SIAC;Persist Security Info=True;User ID=usr_sapiens;Password=usr_sapiens"
            providerName="System.Data.SqlClient" />
        <add name="Abaseguros.Finanzas.SIAC.DataAccess.Properties.Settings.SIACConnectionString2"
            connectionString="Data Source=172.25.104.80,54707;Initial Catalog=SIAC;Persist Security Info=True;User ID=usr_sapiens;Password=usr_sapiens"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>